@media only screen and (min-width: 1081px) {
  body {
    margin-left: 30%;
    margin-right: 30%;
    zoom: 0.4;
  }
}
@media only screen and (max-width: 1080px) {
  body { width: 98%; }
  .container-fluid {
    margin-left: 1%;
    margin-right: 1%;
  }
}
body {
  background-color: #000000;
  color: white;
  text-align: center;
}
.clickable { cursor: pointer}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
.pink { color: pink; }
.bg-heading { background-color: #000000; }
.bg-aloft {
  background-image: url('../images/aloft.png');
  background-size: 100% 100%;
}
hr.dash { border: 3px dashed white !important; }
.mb-div-end { margin-bottom: 8rem !important; }
.wwborder { border-radius: 1rem !important; }

/* D3 */
.gridticks {
  color: lightgray;
  opacity: 0.5;
}
.svgbg { fill: #212529; }
.xAxis { font-size: 175%; }
.yAxis { font-size: 175%; }
.maxtemp {
  fill: #0dcaf0;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .maxtemp {
    font-size: 3.5rem;
  }
}
.dewpoint {
  fill: #20c997;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .dewpoint {
    font-size: 3.5rem;
  }
}
.temp {
  fill: #dc3545;
  font-size: calc(1.475rem + 2.7vw);
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  .temp {
    font-size: 3.5rem;
  }
}
.dalrlabel {
  fill: #6c757d;
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
}
.neg3label {
  fill: white;
  font-size: 200%;
}
.tollabel {
  fill: white;
  font-size: 200%;
}

/* Flight log CSS */
/* formatting options for HTML5 date picker, since the zoom used for the rest of the page makes the calendar popup unreadably small at 40% zoom */
.zoomdatepicker {
  zoom: 2.5;
  transform: scale(.4)
}
.zoomdropdown {
  zoom: 2.5;
}

/*  -webkit-align-items: center;
  display: -webkit-inline-flex;
  font-family: monospace;
  overflow: hidden;
  padding: 0;
  -webkit-padding-start: 1px;
}
input::-webkit-datetime-edit {
 -webkit-flex: 1;
 -webkit-user-modify: read-only !important;
 display: inline-block;
 min-width: 0;
 overflow: hidden;
}
input::-webkit-datetime-edit-fields-wrapper {
 -webkit-user-modify: read-only !important;
 display: inline-block;
 padding: 1px 0;
 white-space: pre;
}
*/